html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Avenir Next', 'Helvetica', 'Arial', 'Sans-Serif';
}

h1 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.full-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    display: flex;
    font-size: 8em;
    font-family: 'Fira Code';
    font-weight: 100;
}

.clock .minute {
    margin-right: 0.3em;
}

.clock .ampm,
.clock .second {
    font-size: 0.5em;
    line-height: 0.8em;
}

.clock .meta {
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hint {
    font-size: 2em;
    text-align: right;
    color: #999;
    font-weight: 100;
}

.control-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-form input,
.control-form label {
    margin-right: 1em;
    font-size: 16px;
}
.control-form label {
    font-weight: 600;
}
.control-form input {
    padding: 0.5em;
}

.hidden {
    display: none;
}

.warn, .second-warn, .error {
    font-weight: 800;
}
.warn {
    color: #FFB74D;
}
.second-warn {
    color: #E65100;
}
.error {
    color: #F44336;
}

